body {
  font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
  letter-spacing: 1.2em;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 40px;
}

html {
  font-size: 20px;
}

.decoration1 {
  color: skyblue;
  text-align: center;
}

.decoration2 {
  color: rgb(255, 192, 203);
  text-align: center;
}

p {
  text-align: center;
}

.bold {
  font-weight: bold;
}
